HOST=host   #optional
PORT=port_number   #optional
PUBLIC_URL=https://m3u8proxy-puce-seven.vercel.app #mandatory
ALLOWED_ORIGINS=https://animestate-gamma.vercel.app,https://anime-skald-rp6e.vercel.app   #mandatory
